C:/Users/HOME/Desktop/6-CarDistribute/6-CarDistribute/project/best.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/HOME/Desktop/6-CarDistribute/6-CarDistribute/project/video/video.mp4 filter=lfs diff=lfs merge=lfs -text
